*{
    margin: 0;
    padding: 0;
}

body{
    background: #ffedd5;
}

ul{
    list-style: none;
}

header, section{
    max-width: 300px;
    margin: 32px auto;
}

header h1 span{
    color: #995000;
}
section{
    margin-bottom: 24px;
}
section h2{
    background-color: #fed7aa;
    padding: 8px;
    text-align: center;
    margin-bottom: 24px;
}
ul li{
    margin-bottom: 16px;
    display: flex;
}
 li .details{
max-width: 240px;

 }

li .details{
    margin-bottom: 3px;
}








